h1 {
    background-color: #f72585;
    border: 5px solid #480ca8;
    color: #4cc9f0;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px;
   
    font-weight: lighter;
}


h1:nth-last-of-type(2n) {
   background-color:#b5179e;
}
h1:nth-last-of-type(3n) {
   background-color:#7209b7 ;
}
h1:nth-last-of-type(4n) {
   background-color:#560bad ;
}


section:first-of-type h1:nth-last-of-type(1){
    transform: scaley(2);
}
section:first-of-type h1:nth-last-of-type(2){
    transform: scaley(2);
}
section:first-of-type h1:nth-last-of-type(3){
    transform: translatex(200px);
}
section:first-of-type h1:nth-last-of-type(4){
    transform: translate(-200px, 50px);
}

section:nth-last-of-type(2) h1:nth-last-of-type(1){
    transform: skew(30deg);
}
section:nth-last-of-type(2) h1:nth-last-of-type(2){
    transform: rotate(20deg);
}
section:nth-last-of-type(2) h1:nth-last-of-type(3){
    transform: rotate(20deg)scale(1.3);
}
section:nth-last-of-type(2) h1:nth-last-of-type(4){
    transform: translateX(-500px) rotate(0.5turn)  scaleY(1.5)
}

section:nth-last-of-type(1) {
    transform: scale(.75)
}

   

